@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .footer {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    /* left: calc(-50vw + 50%); */
  }

  .overflow-overlay {
    overflow: overlay;
  }
}
